@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: 'Barlow Condensed', sans-serif;
	scroll-behavior: smooth;
}
.container {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* Nav Bar  */
/* #nav-bar {
	height: auto;
	width: 100%;
	position: fixed;
	z-index: 100;
	background-color: white;
	font-weight: 700;
	font-style: italic;

}
.nav-bar {
		width: 100%;
		max-height: 100px;
		display: flex;
		justify-content: space-around;
}

.nav-bar .brand img {
object-fit:contain;
width: 100px;
height:100px;
position: relative;
}

.nav-bar .nav-list {
	display: flex;
	position: relative;
	left: 64%; 
	align-items: center;
	justify-items: center;
}

.nav-bar .nav-list ul {
	transform: translateX(0);
	position: initial;
	padding: 0;
	z-index: initial;
	background-color: transparent;
	justify-items: center;
	align-items: center;
}
.nav-bar .nav-list ul li {
	display: inline-block;
	
}

.nav-bar .nav-list ul li {
	list-style: none;
	display: inline-block;
	position: relative;
}

.nav-bar .nav-list ul li:hover:after {
	transform: translateX(-50%) scale(1);
}
.nav-bar .nav-list ul li:after {
	content: '';
	position: absolute;
	width: 5rem;
	height: .2rem;
	background-color: navy;
	left: 50%;
	transform: translateX(-50%) scale(0);
	bottom: 0;
	transition: .3s ease transform;
}
.nav-bar .nav-list ul li a {
	font-size: 1.8rem;
	text-decoration: none;
	text-transform: uppercase;
	color: navy;
	display: block;
	letter-spacing: .15rem;
	padding: 2rem 3rem;
}
.nav-bar .nav-list.open ul {
	transform: translateY(90px);
} */

/* End Nav Bar */


/* BS Nav Bar */
.navbar{
	width: 100%;
	font-size: 2.5rem;
	display: flex;
	background-color : white;
	position: fixed;
	justify-content: space-between;
	font-family: 'Barlow Condensed', sans-serif;
}
.navbar .container-fluid{
	width: 100%;
	font-size: 2.5rem;
	display: flex;
	justify-content: space-between;
	margin-left: 6rem;
	margin-right: 6rem;
	color : white;
}

.navbar-brand img{
	height: 9rem;
	width:auto;
}

.navbar-brand img:hover{
	cursor: pointer;
}

.navbar .collapse{
	justify-content:right;
	flex-grow:0;


}

.navbar .navbar-toggler{

	background-color: grey;
}

a{
	color: rgba(0, 0, 0, 0.558);
}
.navbar-nav .nav-item{
	margin-right: 2rem;
	color: navy;
	text-decoration: none;
}
/* End BS NavBar */

/* BL Title */
#BL-Title{
	display: flex;
	justify-content: center;
	margin-top: 12rem;
	padding: 0;
}
#BL-Title h1{
	font-size: 5.5rem;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 1000;
}
/* End BL Title */

/* Parallax Scroll */
#parallax{
	min-height: 600px;
	justify-content: center;
	align-content: center;
}

#parallax #parallax-img {
	background-image: url("../images/Brandon-Scenic.PNG");
	min-height: 500px; 
	min-width: 400px;
	max-width: auto;
	max-height: 600px;
	margin: 0rem 13rem 0rem 13rem;

  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax .heading {
z-index: 1;
position: absolute;
top: 65%;
left: 10%;
color: white;
font-style: italic;
}
.parallax .my-name {
	font-size: 2rem;
}
.parallax .BL {
	font-size: 4rem;
}

/* End Parallax Scroll */




/* About Section  */
#about {
	width: auto;
	padding-top: 40rem;
	margin-left: 3rem;
	margin-right: 3rem;
	display: grid;
	
}

#about #about-heading {
	font-size: 3.5rem;
	text-transform: uppercase;
	letter-spacing: .3rem;
	color: navy;
	display: flex;
	justify-content: center;
	font-family: 'Barlow Condensed', sans-serif;
	padding-top: 14rem;
}
#about #about-info {
	text-align: center;
	text-justify:inter-word;
}


#about #about-info #about-info-desc {
	font-size: 1.7rem;
	margin-top: 50px;
}



#about #about-info #about-img {
    max-height: 200px;
	margin-top: 50px;

}
#about #about-info #about-img img{
	object-fit: cover;
    max-height: 460px;

}

/* End About Section  */


/* Contact Section  */
#contact{
	justify-content: center;
	margin-top: 40rem;
}

#contact #contact-heading {
	margin-left: 3rem;
	font-size: 3.5rem;
	text-transform: uppercase;
	letter-spacing: .3rem;
	color: navy;
	justify-content: center;
	align-content: center;
	font-family: 'Barlow Condensed', sans-serif;
}

#contact .contact-container {
	display: grid;
	justify-content: center;
	background-color: navy;
	color: white;
	font-size: 2.5rem;
	padding:3rem;
	font-family: 'Barlow Condensed', sans-serif;
}

#contact #contact-info {
	

}
/* End COntact Section  */


/* Back to Top Button */
#myBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: #555; /* Set a background color */
	opacity: 20%;
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
	opacity: 50%;
	background-color: red; /* Add a dark-grey background on hover */
  }
/* End of back to Top Button */
